*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
    text-decoration: none;
    color: grey;

}

.footer{
    padding: 10px;
}

.header, .footer{
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
}

body{
    background-color: beige;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;    
}

.options{
    display: flex;
    align-self: center;    
    justify-content: center;    
    flex-direction: column;
    gap:10px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1;
    gap: 30px;
    margin: 10px auto;
}

#Color{
    border: 0;
    border-radius: 180px;
    background-color: transparent;
    cursor: pointer;
}

#slider{
    accent-color: rgb(183, 255, 200);
}

h1{
    margin: 10px auto;
}

.grid{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
}

button{
    padding: 8px;
    border-radius: 10px;
    background-color: white;
}

.box{
    border: 1px solid gainsboro;
}

#containerSlider{
    display: flex;
    flex-direction: column;
    align-items: center;
}

input{
    align-self: center;
}